.label {
  display: block;
  margin-bottom: 0.35rem;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}
.content {
  min-height: 130px;
}
.content :global(.tiptap p.is-editor-empty:first-child::before) {
  content: attr(data-placeholder);
  color: var(--mantine-color-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
